
html {
    background-color: #17002f;
}

body {
    margin: 0;
    padding: 20px;
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
}

canvas:not(#canvas) {
    image-rendering: crisp-edges;
    width: 100%;
}